In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Importing the csv file into a pandas dataframe

os.chdir("/home/edu/Public/sharkAttacks")
os.getcwd()

df = pd.read_csv("input/GSAF5.csv", encoding = "ISO-8859-1")

# Saving a copy of the original df in order to not have to re-read the csv if we want to undo a change.
dfBackup = df

# Let's get an idea of how the dataframe looks like.
display(df.head())

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
# Examining the size of the dataframe: 24 columns, 5992 rows/entries
display(df.columns)
display(df.shape)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

(5992, 24)

In [5]:
# Checking the amount of nulls in the whole dataframe

for col, numnulls in df.isnull().sum().items():
    if numnulls > 0:
        print(f"{col} {numnulls}")

Country 43
Area 402
Location 496
Activity 527
Name 200
Sex  567
Age 2681
Injury 27
Fatal (Y/N) 19
Time 3213
Species  2934
Investigator or Source 15
href formula 1
href 3
Unnamed: 22 5991
Unnamed: 23 5990

In [6]:
# I noticed two columns without a label and a high number of null values: 
# "Unnamed: 22" and "Unnamed: 23". We can see if they contain any values.

un22 = df["Unnamed: 22"]
display(df["Unnamed: 22"].head(10))
display(df[un22.notnull()])

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: Unnamed: 22, dtype: object

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

In [36]:
un23 = df["Unnamed: 23"]
display(df["Unnamed: 23"].head(10))
display(df[un23.notnull()])

# Neither column seems to contain data that can be used.

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: Unnamed: 23, dtype: object

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

TypeError: drop() got multiple values for argument 'axis'

In [42]:
# We can drop them instead.

df2 = df # Backup in case
df3 = df2.drop("Unnamed: 22", axis = 1) 
df3.head()
df4 = df3.drop(columns = "Unnamed: 23") # Different syntax with same functionality
df4.head()

# Now that we have verified that we removed the correct columns, we overwrite the df we are working with:
df = df4

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [34]:
# Data cleaning: there seems to be two columns with links to pdfs with details of each incident. 
# If we were interested in removing one of them, we could check whether the content is the same between them.

# We can see try to eyeball a couple of rows like this.
print(df["href formula"][0])
print(df["href"][0])
df["href formula"][0] == df["href"][0]

# But it would be better to make a counter that checks how often there is
# a discrepancy between the two columns as follows:

discr = 0
for i in range(len(df["href formula"])):
    if not df["href formula"][i] == df["href"][i]:
        discr += 1
        #print(df["href formula"][i], "|||||", df["href"][i])

http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23-Cutbirth.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05.a-Slaughter.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05-Slaughter.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27.a-Swanepoel.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27-Swanepoel.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/Court Case pending ||||| nan
http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.17-Olsson, pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.14-Bandy.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.b-Kayaks2.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.a-Kayaks1.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.15-Hayes.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.12-Hayes.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09.a-Berry.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09-Berry.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07.b-Torres.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07-PorpoiseBay.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.26-O'Connor.pf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.25-Grant ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.04-Rianto.pdf ||||| pdf_directory2014.01.04-Riano.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy
pdf-directory/2013.05.27.b-Ena.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.b-Ena.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.a-Kirkpatrick.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27-Kirkpatrick.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/12.26 ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2010.02.01-Ward.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Melo.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22-IsaulCoba.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.a-Coba.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Brazil-incomplete.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1993.04.00-Szolomiak.pdf ||||| nan
http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.a-Virginia-spearfisherman.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00-Virginia-spearfisherman.pdf
nan ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1975.01.19-Barrowman.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31-NV-Ensenada.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31.a-NV-Ensenada.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b-Waterman.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b - Waterman.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30-USS Indianapolis.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30 - USS Indianapolis.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield.pdf  ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield
http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1864.01.01-Kelsall.pdf ||||| nan
http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu
http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08.R-Cadiz.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08-Cadiz.pdf
http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00.R-Manrique.pdf ||||| http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00-Manrique.pdf

 Total mismatches 54

In [35]:
print("Total mismatches",discr)

# The mismatches seem minor from eyeballing, but we you wanted to trawl through the PDFs we would only need
# to check both columns in these 54 cases with a mismatch between the two

Total mismatches 54